<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>867776108025-m88fu9oah79actbm1ssapiss1rkham8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867776108025-m88fu9oah79actbm1ssapiss1rkham8e</string>
	<key>API_KEY</key>
	<string>AIzaSyDbs3d0CoZSGqtZDQlFyONpxFjGIn1-KSY</string>
	<key>GCM_SENDER_ID</key>
	<string>867776108025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sbedx4.Instagram-Firebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-1c6ab</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-1c6ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867776108025:ios:8f0e0da2240089cc</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-1c6ab.firebaseio.com</string>
</dict>
</plist>